body {
  -webkit-perspective: 300px;
  perspective: 300px;
  overflow-y:hidden;
}
#menubar{
	position:absolute;
	background:#DBDBDB;
	height:18px;
    left: 0; top: 0; right: 0;	//center
}


#opponent-hand-container{
	text-align:center;
}

#player-hand-container{
	text-align:center;
}
.hand{
}

.trapezoid {
  background-size: 100% 100%;
  //width:100px; height:140px;
  width:75px;height: 100px;

  display:inline-block;
}

#opponent-hand-container .hand .trapezoid{
  margin-bottom:-10px;
  // -webkit-transform: rotateX(8deg) scale(0.8);
    margin-right: -4px;
    margin-left: -4px;
    margin-top: 18px;
  //transform: rotateX(8deg) scale(0.8);
}
#player-hand-container .hand .trapezoid{
  margin-top:10px;
  //-webkit-transform: rotateX(8.5deg);
  //transform: rotateX(8.5deg);
}


#focus-card-container{
	width: 218px;
	background-color:#8C8C8C;
	height: 100%;
	text-align:center;
}
#focus-card{
	padding-top:28px;
	max-height:300px;
	max-width:200px;
}
#focus-content {
    text-align:left;
}
#focus-content *{
	padding-left:5px;
	display:inline;
}

#ability{
	padding-left:0px;
}
#ability  text{
	display: none;
}

#ability:hover text{
    display: block;
}
#player-stat-container{
	width: 300px;
	background-color:#8C8C8C;
	height: 100%;
    display: flex;
    flex-direction:column;
    align:items:flex-start;
	text-align:center;
}

#opponent-img{
	margin-top:8px;
    float:left;
    margin-left: 5px;
}
.statsheet table{
	text-align:center;
	width:100px;
    margin:auto;
}
.statsheet img{
  height:100px;
  width:100px;
}
.statsheet h3{
    padding-top: 10px;
}
.statsheet:not(:first-child){
    margin-top:-22px;
}
.statsheet:first-child{
    margin-top: -2px;
}
.turn input{
	width:200px;
	margin-right:10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Hovers */
.trapezoid:hover {
    transform:scale(1.2);
  //-webkit-transform: rotateX(0deg);
  /transform: rotateX(0deg);
}
#player-hand-container .gainFocus {
    transform: rotateX(0deg) scale(1.2) !important;    
}
#playarea{
    height: 100%;
    flex:1;
    display: flex;
    flex-direction:column;
    align:items:flex-start;
}
#board{
    background-color: blue;
    min-height: 30px;
    flex:1;
    display: flex;
}
#player-deck-area ,#opponent-deck-area{
  background-color: red;
  width: 86px;
  position: relative;
}
#player-deck-area .trapezoid{
  position: absolute;
  bottom: 6px;
  left: 6px;
}
#opponent-deck-area .trapezoid{
  position: absolute;
  top: 6px;
  right: 6px;
}
#play-area{
  flex:1;
  display: flex;
  flex-direction: column;
}
#opponent-area,#player-area{
  height: 50%;
  width: 100%;
}
#opponent-area{
  background-color: yellow;
}


#mega-container{
    display: flex;
    flex-direction: row ;
    align-items: flex-start;
}
#statsheet-container{
    height:250px;
}
#logcontainer{
    flex:1;
}
textarea{
    width: 100%;
}
#focus-level, #focus-attack, #focus-defence{
  display: inline-block;
}